@page
@{
    ViewData["Title"] = "Intro Page";
}

<body>
    <h3>Aman Thakur</h3>
    <form>
        <label for="input1">First Input:</label><br />
        <input type="text" id="input1" name="textbox" value="" placeholder="Enter first value" /> <br />
        <label for="input2">Second Input:</label><br />
        <input type="text" id="input2" name="textbox" value="" placeholder="Enter second value" /> <br />
        <label for="outputLabel">Output:</label><br />
        <label for="outputValue">OK</label><br />
        <input type="submit" value="Submit" />
    </form>
</body>
